[submodule "Kclause-Smarch"]
	path = Kclause-Smarch
	url = git@github.com:jeho-oh/Kclause-Smarch.git
[submodule "Kclause_Smarch"]
	path = Kclause_Smarch
	url = git@github.com:jeho-oh/Kclause_Smarch.git
[submodule "Smarch"]
	path = Smarch
	url = git@github.com:jeho-oh/Smarch.git
	branch = master
[submodule "KUS"]
	path = KUS
	url = git@github.com:meelgroup/KUS.git
